{% extends "base_generic.html" %}

{% block content %}
<h1>Librería Local</h1>

  <p>Bienvenidos a <em>Librería Local</em>, un sitio web muy básico de Django.</p>

<h2>Contenido dinámico</h2>

  <p>La biblioteca tiene los siguientes recuentos de registros:</p>
  <ul>
    <li><strong>Libros:</strong> {{ num_books }}</li>
    <li><strong>Copias:</strong> {{ num_instances }}</li>
    <li><strong>Copias disponibles:</strong> {{ num_instances_available }}</li>
    <li><strong>Autores:</strong> {{ num_authors }}</li>
  </ul>

{% endblock %}
